<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- Kitchen Sink Datatables -->
    <section id="ngx-datatable-kitchen-sink" *ngIf="displayForm==false; else addFormHub">
      <core-card-snippet>
        <h4 class="card-title">Transfert Sortant</h4>
        <div class="row">
          <div class="col-12 mb-50">
            <button type="button" class="btn btn-primary ml-1" (click)="openCreateModal(addFormHub)" rippleEffect>
              <span [data-feather]="'plus'" [class]="'mr-0 mr-sm-1'"></span>Ajouter Console</button>
          </div>
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center">Afficher
                <select class="form-control mx-25" [(ngModel)]="basicSelectedOption">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                console</label>
            </div>
          </div>
          <div class="col-md-6 col-12 d-flex justify-content-md-end">
            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
              <label class="d-flex align-items-center"><input type="search" placeholder="Recherche"
                  class="form-control ml-25 btn-outline-primary" (keyup)="filterUpdate($event)" /></label>
            </div>
          </div>
        </div>
        <ngx-datatable [rows]="listConsole" [rowHeight]="58" class="bootstrap core-bootstrap" [limit]="10"
          [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" 
          [scrollbarH]="true" [limit]="basicSelectedOption" let row>
          <ngx-datatable-column name="Console Barcode" prop="barCode" [width]="150"> </ngx-datatable-column>
          <ngx-datatable-column name="Date de création" prop="dateCreation" [width]="200">
            <ng-template let-value="value" ngx-datatable-cell-template>
              {{value | date:'dd/MM/yyyy'}}
            </ng-template>

          </ngx-datatable-column>
          <ngx-datatable-column name="Etat" prop="etat" [width]="150">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div class="badge badge-pill" [ngClass]="{
                  'badge-light-primary': row.etat === 'enAttente',
                  'badge-light-success': row.etat === 'approuve'
                }">
               {{value}}

              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Départ" prop="titreHubDepart" [width]="150"></ngx-datatable-column>
          <ngx-datatable-column name="Arrivée" prop="titreHubArrivee" [width]="150"></ngx-datatable-column>
          <ngx-datatable-column name="Nom Livreur" prop="livreur" [width]="130">
            <ng-template let-row="row" let-name="value" ngx-datatable-cell-template>
              {{row?.livreur?.nom}} {{row?.livreur?.prenom}}
            </ng-template>

          </ngx-datatable-column>

          <ngx-datatable-column name="Action" [width]="40" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div class="d-flex align-items-center col-actions">
                <a class="mr-1 text-warning" container="body" placement="top" (click)="getConsolePdf(row.barCode)"
                ngbTooltip="Télécharger pdf"
                  ><i size="18" data-feather="file"></i
                ></a>
                <a class="mr-1 text-primary" (click)="openUpdateModal(row, modalUpdate)" container="body"
                  placement="top" ngbTooltip="Modifier Console"><i size="18" data-feather="edit-2"></i></a>
                <a class="cursor-pointer text-danger" (click)="openDeleteModal(row,modalDelete)" container="body"
                  placement="top " ngbTooltip="Supprimer console"><i size="18" data-feather="trash-2"></i></a>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </core-card-snippet>
    </section>
    <!--/ Kitchen Sink Datatables -->
    <!-- ADD FOrm HUB -->
    <ng-template #addFormHub let-modal>
      <section id="multiple-column-form">
        <div class="row match-height">
          <div class="col-12">
            <div class="modal-header">
              <h5 class="modal-title text-primary" id="myModalLabel160">Ajouter Console</h5>
            </div>
            <div class="modal-body" tabindex="0" ngbAutofocus>


              <form #addHubForm="ngForm">

                <div class="row">
                  <div class="form-group form-password-toggle col-md-6">
                    <label class="form-label">Réf colis</label>
                    <!-- <ng-select
                      [items]="selectMulti"
                      [multiple]="true"
                      name="gouvernorat_lie"
                      [closeOnSelect]="false"
                      [searchable]="false"
                      [(ngModel)]="selectMultiSelected"
                      #gouvernoratListVarRef="ngModel"
                      [class.error]="addHubForm.submitted && gouvernoratListVarRef.invalid"
                      required
                      > 
                      <span *ngIf="addHubForm.submitted && gouvernoratListVarRef.invalid" class="invalid-form">
                        <small class="form-text text-danger" *ngIf="gouvernoratListVarRef.errors.required"
                          >Ce champ est obligatoire!</small 
                        >
                      </span>
                    </ng-select> -->
                    <input type="text" class="form-control" placeholder="Saisir code à barre colis"
                      aria-describedby="button-addon2" [(ngModel)]="bar_codeVar" #bar_codeVarRef="ngModel"
                      name="bar_code" id="bar_code" (keyup)="onAddBar_code($event)" />
                  </div>
                  <div class="form-group col-md-6">
                    <label class="form-label">Arrivée</label>
                    <input type="text" class="form-control" id="arrivee" name="arrivee" placeholder="Saisir l'arrivée"
                      [(ngModel)]="adresseVar" #adresseVarRef="ngModel"
                      [class.error]="addHubForm.submitted && adresseVarRef.invalid" required />
                    <span *ngIf="addHubForm.submitted && adresseVarRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="adresseVarRef.errors.required">Ce champ est
                        obligatoire!</small>
                    </span>
                  </div>

                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label class="form-label">Départ</label>
                    <input type="text" class="form-control" name="depart" class="form-control" id="depart"
                      placeholder="Saisir le départ " [(ngModel)]="titreVar" #titreVarRef="ngModel"
                      [class.error]="addHubForm.submitted && titreVarRef.invalid" required />
                    <span *ngIf="addHubForm.submitted && titreVarRef.invalid" class="invalid-form">
                      <small class="form-text text-danger" *ngIf="titreVarRef.errors.required">Ce champ est
                        obligatoire!</small>
                    </span>
                  </div>

                  <div class="form-group col-md-6">
                    <label class="form-label">Livreur </label>
                    <ng-select [items]="selectMulti" id="personnel.iduser" name="personnel.iduser"
                      bindLabel="nom" bindValue="iduser" [(ngModel)]="gouvernoratVar"
                      placeholder="Choisir livreur" #gouvernoratVarRef="ngModel"
                      [class.error]="addHubForm.submitted && gouvernoratVarRef.invalid" required>
                      <span *ngIf="addHubForm.submitted && gouvernoratVarRef.invalid" class="invalid-form">
                        <small class="form-text text-danger" *ngIf="gouvernoratVarRef.errors.required">Ce champ est
                          obligatoire!</small>
                      </span>
                      <ng-template ng-label-tmp let-item="item">
                        <span>{{ item?.nom }}</span>
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
                        <span>{{ item.nom }}</span>
                      </ng-template>
                    </ng-select>
                  </div>


                </div>
                <div class="modal-footer">
                  <button id="ajouterBtn" class="btn btn-primary btn-submit float-right mr-1"
                    (click)="onAddHub(addHubForm)" rippleEffect>Ajouter</button>
                  <button class="btn btn-outline-secondary btn-submit float-right mr-1"
                    (click)="modal.close('Accept click')" rippleEffect>Annuler</button>
                </div>
              </form>
            </div>
            <br>
            <div class="basic-table">
              <table class="table " *ngIf="ListColisRows">
                <thead>
                  <tr>
                    <th>Code à barres</th>
                    <th>Nom client</th>
                    <th>Numéro de téléphone</th>
                    <th>Date de création</th>
                    <th>Etat</th>
                    <th>COD</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let colis of ListColisRows">
                    <td>
                      {{colis.bar_code}}
                    </td>
                    <td>
                      {{colis.nom_c}} {{colis.prenom_c}}
                    </td>
                    <td>
                      {{colis.tel_c_1}}
                    </td>
                    <td>
                      {{colis.date_creation | date:'dd/MM/yyyy'}}
                    </td>
                    <td>
                      {{colis.etat}}
                    </td>
                    <td>
                      {{colis.cod}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br>

          </div>
        </div>
      </section>
    </ng-template>
    <!-- Modal update HUB -->
    <ng-template #modalUpdate let-modal>
      <div class="modal-header">
        <h5 class="modal-title text-primary" id="myModalLabel160">Modifier Console</h5>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        <div class="card-body">
          <form class="form" #editForm="ngForm">
            <div class="row">
              <div class="form-group form-password-toggle col-md-6">
                <label class="form-label">Départ</label>
                <input class="form-control" [(ngModel)]="editHub.idHubDepart" id="depart" name="depart" type="text" />
              </div>
              <!--  <div class="form-group form-password-toggle col-md-6">
                <label class="form-label" for="password">Gouvernorat Hub</label>
                <ng-select [items]="selectMulti"  ngModel ="{{editHub.gouvernorat}}" id="gouvernorat" name="gouvernorat" > </ng-select>
              </div> -->
            </div>
            <div class="row">
              <div class="form-group form-password-toggle col-md-6">
                <label class="form-label">Arrivée </label>
                <input class="form-control" [(ngModel)]="editHub.idHubArrivee" id="arrivee" name="arrivee" type="text" />

              </div>
              <div class="form-group form-password-toggle col-md-6">
                <label class="form-label">Livreur</label>
                <ng-select [items]="selectMulti" [multiple]="false" id="personnel.iduser" name="personnel.iduser"
                  bindLabel="nom" bindValue="iduser" [closeOnSelect]="true" [searchable]="false"
                  >
                </ng-select>

              </div>

            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="btnAnnulerUpdate" class="btn btn-outline-secondary"
          (click)="modal.close('Accept click')" rippleEffect>
          Annuler
        </button>
        <button type="button" class="btn btn-primary" (click)="onUpdateConsole(editHub)" rippleEffect>
          Modifier
        </button>
      </div>
    </ng-template>
    <!-- / Modal update Personnel-->
    <!-- Modal delete Personnel -->
    <ng-template #modalDelete let-modal>
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel160">Supprimer hub</h5>
      </div>
      <div class="modal-body" tabindex="0" ngbAutofocus>
        Voulez vous vraiment supprimer cette console ?
      </div>
      <div class="modal-footer">
        <button type="button" id="btnAnnulerDelete" class="btn btn-outline-secondary"
          (click)="modal.close('Accept click')" rippleEffect>
          Annuler
        </button>
        <button type="button" class="btn btn-danger" (click)="onDeleteHub(deleteHub.id_console)" rippleEffect>
          Supprimer
        </button>
      </div>
    </ng-template>
    <!-- / Modal delete Personnel -->